* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #152d32;
}

.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0px;
}
.header-content {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-weight: 400;
  color: white;
  font-size: 14px;
}
.icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: white;
}
.fa-solid {
  color: white;
  border: 1px solid white;
  padding: 15px;
  align-self: center;
  border-radius: 50%;
  font-size: 13px;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.furniture-text {
  font-weight: 600;
  color: white;
  font-size: 17px;
}
.dreamText {
  color: #ffc100;
}
.hero {
  display: grid;
  text-align: flex-start;
  text-transform: capitalize;
  justify-content: space-evenly;
}
h1 {
  color: white;
  text-align: justify;
  font-size: 62px;
  font-weight: 800;
  line-height: 1;
  padding-top: 60px;
  display: grid;
}
.ptext {
  color: white;
  display: grid;
  text-align: justify;
}
.hero-text-container {
  display: flex;
  align-items: center;
  gap: 300px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.arrow-outward-container {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 50%;
  background: transparent;
}

.arrow-outward {
  font-size: 16px;
  width: 20px;
  color: white;
}

/* responsiveness */
@media (max-width: 1024px) {
  .header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0px;
  }
  .header-content {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    color: white;
    font-size: 17px;
  }
  .furniture-text {
    font-weight: 600;
    color: white;
    font-size: 18px;
  }
  .icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: white;
  }
  .fa-solid {
    color: white;
    border: 1px solid white;
    padding: 16px;
    align-self: center;
    border-radius: 50%;
    font-size: 14px;
    width: 9px;
    height: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .header-container {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    margin: 0 auto;
  }
  .header-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-weight: 400;
    color: white;
    font-size: 13px;
  }
  .furniture-text {
    font-weight: 600;
    color: white;
    font-size: 14px;
  }
  .icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: white;
  }
  .fa-solid {
    color: white;
    border: 1px solid white;
    padding: 11px;
    align-self: center;
    border-radius: 50%;
    font-size: 9px;
    width: 7px;
    height: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1 {
    color: white;
    display: block;
    text-align: center;
    text-transform: capitalize;
    text-align: justify;
    align-self: center;
    font-size: 40px;
    font-weight: 800;
    line-height: 1;
    padding-top: 20px;
  }
  .hero {
    display: grid;
    text-align: center;
    text-transform: capitalize;
    justify-content: space-evenly;
  }
  h1 {
    color: white;
    text-align: justify;
    font-size: 30px;
    font-weight: 800;
    line-height: 1;
    padding-top: 40px;
    display: grid;
  }
  .ptext {
    color: white;
    display: grid;
    text-align: justify;
    font-size: 13px;
  }
  .hero-text-container {
    display: flex;
    align-items: center;
    gap: 90px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .arrow-outward-container {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 50%;
    background: transparent;
  }
  .arrow-outward {
    font-size: 13px;
    width: 19px;
    color: white;
  }
}
@media (max-width: 425px) {
  .header {
    padding: 0px;
  }
  .header-container {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    margin: 0 auto;
  }
  .header-content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-weight: 400;
    color: white;
    font-size: 11px;
  }
  .furniture-text {
    font-weight: 600;
    color: white;
    font-size: 12px;
  }
  .icons {
    display: flex;
    flex-direction: row;
    gap: 9px;
    color: white;
  }
  .fa-solid {
    color: white;
    border: 1px solid white;
    padding: 10px;
    align-self: center;
    border-radius: 50%;
    font-size: 6px;
    width: 7px;
    height: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1 {
    color: white;
    text-align: justify;
    font-size: 25px;
    font-weight: 800;
    line-height: 1;
    display: grid;
  }
  .hero-text-container {
    display: flex;
    align-items: center;
    gap: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .ptext {
    color: white;
    display: grid;
    text-align: justify;
    font-size: 7px;
  }
  .arrow-outward-container {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 50%;
    background: transparent;
  }
  .arrow-outward {
    font-size: 11px;
    width: 16px;
    color: white;
  }
}

@media (max-width: 375px) {
  .header-container {
    display: flex;
    align-items: center;
    padding: 15px 0px;
    margin: 0 auto;
  }
  .header-content {
    display: flex;
    flex-direction: row;
    gap: 6px;
    font-weight: 400;
    color: white;
    font-size: 10px;
  }
  .furniture-text {
    font-weight: 600;
    color: white;
    font-size: 13px;
  }
  .icons {
    display: flex;
    flex-direction: row;
    gap: 6px;
    color: white;
  }
  .fa-solid {
    color: white;
    border: 1px solid white;
    padding: 8px;
    align-self: center;
    border-radius: 50%;
    font-size: 6px;
    width: 6px;
    height: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1 {
    color: white;
    text-align: justify;
    font-size: 23px;
    font-weight: 800;
    line-height: 1;
    display: grid;
  }
  .hero {
    padding: 0px 10px;
  }
  .hero-text-container {
    display: flex;
    align-items: center;
    gap: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .ptext {
    color: white;
    display: grid;
    text-align: justify;
    font-size: 6px;
  }
  .arrow-outward-container {
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 50%;
    background: transparent;
  }
  .arrow-outward {
    font-size: 10px;
    width: 15px;
    color: white;
  }
}

@media (max-width: 320px) {
  .header-container {
    display: flex;
    align-items: center;
    padding: 15px 0px;
    margin: 0 auto;
  }
  .header-content {
    display: flex;
    flex-direction: row;
    gap: 6px;
    font-weight: 400;
    color: white;
    font-size: 10px;
  }
  .furniture-text {
    font-weight: 600;
    color: white;
    font-size: 10px;
  }
  .icons {
    display: flex;
    flex-direction: row;
    gap: 6px;
    color: white;
  }
  .fa-solid {
    color: white;
    border: 1px solid white;
    padding: 6px;
    align-self: center;
    border-radius: 50%;
    font-size: 5px;
    width: 5px;
    height: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1 {
    color: white;
    text-align: justify;
    font-size: 18px;
    font-weight: 800;
    line-height: 1;
    display: grid;
  }
  .hero {
    padding: 0px 10px;
  }
  .hero-text-container {
    display: flex;
    align-items: center;
    gap: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .ptext {
    color: white;
    display: grid;
    text-align: justify;
    font-size: 5px;
  }
  .arrow-outward-container {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 50%;
    background: transparent;
  }
  .arrow-outward {
    font-size: 8px;
    width: 14px;
    color: white;
  }
}
